@media screen and (max-width: 1024px) {
    .mdl-layout__header {
        display: inline-block;
        /*覆盖自带display:none效果*/
    }
}

.index-layout {
    background: url('../img/bg2.png') center / cover;
}

/*.index-layout {
    background: url('../img/chrismas.png') center / cover;
}*/

a {
    text-decoration: none
}

h1 {
    color: white;
    font-weight: 700;
}

h4 {
    color: white;
    font-weight: 500;
    font-size: 30px;
}

.white {
    color: white;
}

.main-about {
    color: white;
    font-size: 20px;
    line-height: 35px;
}

#main-content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}


/*侧边栏头像*/

#avatar {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    /*设置成圆角图片*/
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

#description {
    text-align: center;
}

.mdl-data-table {
    margin: 20px auto;
}